#aboutMe {
    text-align: center;
}

#about_head {
    color: red;

}

#about_body {
    font-size: 12px;
}

img {
    height: 200px;
    float: left;
}

#exp_head {
    font-family: "Montserrat", Arial;
}

#exp {
    background-color: orange;
}

#exp-list {
    list-style-type: katakana;
}

#skills_head {
    font-family: "Montserrat", Arial;
}

.inner_list {
    list-style-type: none;
    color: purple;
}

.nav {
    list-style-type: none;
    display: inline;
    font-size: 35px;
    margin: 15px;
}

