#header {
    height: 15vh;
    /*color added to show header div*/
    background-color:purple;
}
#main-content {
    height: 70vh;
    text-align:center;
}
#footer {
    height: 15vh;
    /*color added to show footer div*/
    background-color:purple;
}
#aboutMe {
    list-style-type:none;
    display:inline-block;
}
#contactMe {
    list-style-type:none;
}