#title {
    height:15vh;
    /*border and color added to distinguish between divs*/
    border:dotted 1px yellow;
    background-color: blue;
}

#left-nav {
    height:85vh;
    width:15vw;
    float:left;
    border:solid 2px green;
    background-color:red;
    /* border and color added to identify between title div and nav div w/gap*/
}
#main-content {
    height: 80vh;
    width: 80vw;
    float:right;
}
